.bottom__inner{
  display: flex;
}

.bottom__img{
  margin: 0;
  width: 100%;
  max-width: 360px;
  max-height: 447px;
}


@media only screen and (max-width:520px){
  .bottom__inner{
    flex-wrap: wrap;
    justify-content: center;
  }

  .client__item{
    margin-left: 0;
  }

  .bottom__img{
    width: 188px;
    height: 188px;
  }
}

@media only screen and (max-width:376px){
  .bottom__img{
    width: 160px;
    height: 160px;
  }
}