
.transform__list {
  width: 1440px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  // flex-direction: row-reverse;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  // padding-left: 125px;
  // padding-right: 107px;
  // overflow-x: hidden;
}
.transform__item{
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // flex-direction: row-reverse;
  // padding-right: 107px;
}
.transform__item:nth-child(2){
  flex-direction: row-reverse;
}
.transform__info {
  width: 445px;
  // overflow-x: hidden; 
  margin-right: 107px;
  margin-left: 125px;
}
.transform__info:last-child{
  margin-right: 0;
  margin-left: 107px;
}

.transform__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.285714px;
  color: #24303E;
  margin: 0;
  margin-bottom: 32px;
}
.transform__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.128571px;
  color: #808397;
  margin: 0;
  margin-bottom: 40px;
}
.transform__link {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303E;
  text-decoration: none;
}